    <!-- About Section -->
    <section id="about" class="o-wrapper content-section text-center u-margin-bottom u-margin-bottom-huge@desktop">
        <h2 class="c-heading-section u-align-center@mobile">About me</h2>
        <div class="u-4/5@desktop o-wrapper">
            <p>I'm Rafa, originally from Madrid, Spain, now settled in sunny Bournemouth, on the south coast of England where I enjoy life with my wife, our daughter and Kali: our beautiful Belgian shepherd dog.</p>
            <p>Professionally, I'm a Front-end engineer specialising in writing modular, <strong>responsive</strong>, maintainable and <strong>scalable web systems</strong>. I mainly write <strong>HTML, SCSS</strong> and <strong>Javascript</strong> (<strong>Angular</strong>) but often PHP and NodeJS as well, always collaborating with the design team to deliver end-to-end web products.</p>

            <p>I like to architect the web products I make, always trying to keep my code <strong>DRY</strong>, clean, well-structured, <strong>thoroughly tested</strong>, performant, commented and optimized, but I do it with a pragmatic approach to make sure I generate <strong>great value</strong> for my clients.</p>

            <p>I learn new concepts and adapt to changes fast. I enjoy <strong>working for the pride</strong> of doing a good job, and I like to come up with <strong>creative and innovative solutions</strong> for day-to-day problems.</p>

            <p>I often attend conferences, read books, articles, listen to podcasts and follow the most relevant people in the industry to make sure I keep up with the hugely changing pace of web development.</p>
        </div>
    </section>