    <!-- About Section -->
    <section id="about" class="o-wrapper content-section text-center u-margin-bottom u-margin-bottom-huge@desktop">
        <h2 class="c-heading-section u-align-center@mobile">About me</h2>
        <div class="u-4/5@desktop o-wrapper">
            <p>I'm Rafa, originally from Madrid, Spain, now settled in sunny Bournemouth, on the south coast of England where I enjoy life with my wife, our daughter and Luna: our beautiful Cocker Spaniel dog.</p>
            <p>Professionally, I'm a front-end architect specialising in engineering and writing front-end code for the foundation and complex features of projects. My skills really shine when creating a framework for the front-end team to work on and be more efficient when building projects.</p>

            <p>I supervise project development, guaranteeing code quality through code reviews and supporting team members on difficult matters. I also mentor team members which helps me better understand what fixes or features should be added to the framework.</p>

            <p>I enjoy working with clients, project managers and business analysts to define and understand requirements and to resolve issues or questions during development. </p>

            <p>I advise managers on technical matters; evaluating frameworks, technologies and tools to help making well-informed decisions. I also work on estimating custom features.</p>

            <p>I collaborate with UX/UI to create designs that will really work once implemented.</p>

            <p>I have been working on the web for nearly 19 years. This has allowed me to gain full understanding of every area of a web development process, from the conception, content strategy, UX and UI design, optimising the version control workflow and setting up the build process for different environments. </p>

            <p>I learn new concepts and adapt to changes fast. I enjoy working for the pride of doing a good job, and I like to come up with creative and innovative solutions for day-to-day problems. </p>

            <p>I often attend conferences and workshops, read books and articles, listen to podcasts and follow the most relevant people in the industry to make sure that I keep up with the hugely changing pace of web development. </p>
        </div>
    </section>