	<!-- Clients Section -->
<section id="clients" class="c-band c-band--dark c-band--huge u-margin-bottom-large u-margin-bottom-huge@desktop">
	<div class="o-wrapper">
		<ul class="c-client-list">
			<li class="c-client-list__item">
				<a href="http://www.sessions.com/"> <img src="/img/clients/sessions.png" class="c-client-list__logo" alt="" title="Sessions"> </a>
			</li>
			<li class="c-client-list__item">
				<a href="http://www.wearefolk.com/"> <img src="/img/clients/folk.png" class="c-client-list__logo" alt="" title="Folk"> </a>
			</li>
			<li class="c-client-list__item">
				<a href="www.http://londonmedical.co.uk/"> <img src="/img/clients/london-medical.png" class="c-client-list__logo" alt="" title="London Medical"> </a>
			</li>
			<li class="c-client-list__item">
				<a href="www.http://dataharvesting.com/"> <img src="/img/clients/dh.png" class="c-client-list__logo" alt="" title="Data Harvesting"> </a>
			</li>
			<li class="c-client-list__item">
				<a href="http://www.credii.com/"> <img src="/img/clients/credii.png" class="c-client-list__logo" alt="" title="Credii"> </a>
			</li>
			<li class="c-client-list__item">
				<a href="http://www.handsome.is/"> <img src="/img/clients/handsome.png" class="c-client-list__logo" alt="" title="Handsome"> </a>
			</li>
			<li class="c-client-list__item">
				<a href="http://www.motociclismo.es/"> <img src="/img/clients/motociclismo.png" class="c-client-list__logo" alt="" title="Motociclismo"> </a>
			</li>
			<li class="c-client-list__item">
				<a href="http://www.ocean.eu.com/"> <img src="/img/clients/ocean.png" class="c-client-list__logo" alt="" title="Ocean"> </a>
			</li>
			<li class="c-client-list__item">
				<a href="http://www.m-science.com/"> <img src="/img/clients/m-science.png" class="c-client-list__logo" alt="" title="m-science"> </a>
			</li>
			<li class="c-client-list__item">
				<a href="http://www.brissi.com/"> <img src="/img/clients/brissi.png" class="c-client-list__logo" alt="" title="Brissi"> </a>
			</li>
			<li class="c-client-list__item">
				<a href="http://www.teachersassurance.co.uk/"> <img src="/img/clients/ta.png" class="c-client-list__logo" alt="" title="Teachers Assurance"> </a>
			</li>
			<li class="c-client-list__item">
				<a href="http://www.jumpshot.com/"> <img src="/img/clients/jumpshot.png" class="c-client-list__logo" alt="" title="Jumpshot"> </a>
			</li>
			<li class="c-client-list__item">
				<a href="http://www.reachfactor.com/"> <img src="/img/clients/reachfactor.png" class="c-client-list__logo" alt="" title="Reachfactor"> </a>
			</li>
			<li class="c-client-list__item">
				<a href="http://www.virklon.com/"> <img src="/img/clients/virklon.png" class="c-client-list__logo" alt="" title="Virklon"> </a>
			</li>
			<li class="c-client-list__item">
				<a href="http://www.chango.com/"> <img src="/img/clients/chango.png" class="c-client-list__logo" alt="" title="Chango"> </a>
			</li>
		</ul>
	</div>
</section>