    <!-- Intro Header -->
<header class="u-padding-bottom-small u-padding-bottom-large@mobile-lg ">
  <div class="o-wrapper c-header u-padding-bottom-huge@mobile-lg u-padding-top">
    <h1 class="c-heading-main u-margin-bottom-none">{{ site.title }}</h1>
    <div class="o-layout u-margin-bottom-huge@mobile-lg">
        <div class="o-layout__item u-1/2@mobile-lg">
            <p class="c-role u-margin-bottom-tiny">{{ site.role }}</p>
        </div>
        <div class="o-layout__item u-1/2@mobile-lg">
            <div class="buttons o-block--right u-padding-top-tiny">
              <a href="#about" class="c-btn--ghost c-btn--secondary c-btn--small u-margin-right">
                Learn more
              </a>
              <a href="#contact" class="c-btn--ghost c-btn--primary c-btn--small">
                Work with me
              </a>
            </div>
        </div>
    </div>
  </div>
</header>