<!-- Download Section -->
<section id="download" class=" u-margin-bottom-large">
    <div class="o-wrapper">
        <div class="o-layout">
            <div class="o-layout__item u-1/3@desktop u-padding-horizontal@desktop">
                <h3 class="c-heading-sub">Experience</h3>
                    <p>Working on the web since 2001, has allowed me to <strong>work in almost every area</strong> of a web development process on many different projects, from  conception to the final product. This allows me to see the bigger picture and get <strong>better results</strong>.</p>
            </div>
            <div class="o-layout__item u-1/3@desktop u-padding-horizontal@desktop">
                <h3 class="c-heading-sub">Reliability</h3>
                    <p>It feels amazing when you you can <strong>fully trust</strong> someone. When you know they are going to <strong>surpass your expectations</strong>. I strive to make everyone I work with feel this way about me. This can only be done by <strong>consistently delivering</strong> great work.</p>
            </div>
            <div class="o-layout__item u-1/3@desktop u-padding-horizontal@desktop">
                <h3 class="c-heading-sub">Craftsmanship</h3>
                    <p>I believe that the way forward is to assume a <a href="http://www.acm.org/about/se-code">personal code of ethics</a> in which quality isn’t something you can add on later. Where life-long learning and <strong>continuous improvement</strong> of one’s craft is the only way in which you can <strong>be proud of your work</strong>.</p>
            </div>
        </div>
    </div>
</section>