	<!-- Services Section -->
	<section id="services" class="u-margin-bottom-huge@desktop c-band u-padding-vertical-large">
		<div class="o-wrapper">
			<h2 class="c-heading-section u-align-center@mobile  u-margin-bottom-large">Services</h2>
			<div class="o-layout">
			<div class="o-layout__item u-1/3@desktop u-padding-horizontal@desktop">
				<h3 class="c-heading-sub">Web development</h3>
				<p>I have worked extensively with CMSs like <b>Wordpress</b>, <b>Drupal</b>, <b>Craft</b> or <b>Perch</b>, and with frameworks like <b>Ruby on Rails</b>, <b>CakePHP</b> or <b>Laravel</b>. I can Just deal with development or end-to-end website design and development. I can do development and I can assemble a dream team of trusted freelancers to <b>deliver amazing value</b>.</p>
			</div>
			<div class="o-layout__item u-1/3@desktop u-padding-horizontal@desktop">
				<h3 class="c-heading-sub">Team reinforcement</h3>
					<p>Development teams often have to work under time pressure, and half way through a project, realise they could use another pair of competent hands. I can help. I have worked with many frameworks and UI kits and I can jump in the middle of a project and integrate with a team to deliver on time and budget.</p>
			</div>
			<div class="o-layout__item u-1/3@desktop u-padding-horizontal@desktop">
				<h3 class="c-heading-sub">App development</h3>
				<p>I have worked on many Javascript single page applications using Angular and most recently Vue and it's by far the most fun I've had working for this reason app development is extremely interesting to me.</p>
			</div>
		</div>
	</section>