/* ==========================================================================
   #HEADER
   ========================================================================== */

.c-header {
  @include mq(mobile) {
    background-image: url('../img/main-bg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 76px;
    height: 438px;
  }
  @include mq(mobile-lg) {
    background-size: 37%;
    height: 375px;
  }
  @include mq(tablet) {
    background-size: 78%;
    height: 640px;
  }
  @include mq(desktop) {
    background-size: 72%;
    height: 768px;
  }
  @include mq(wide) {
    height: 900px;
  }
}